<a href="https://colab.research.google.com/github/TomiArotiba/Hamoye/blob/master/Fuel_data_quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import libraries needed

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

Upload data file to be used

In [2]:
from google.colab import files
uploaded = files.upload()

Saving fuel_ferc1.csv to fuel_ferc1 (1).csv

Read data file

In [3]:
import io
fuel_data = pd.read_csv(io.BytesIO(uploaded['fuel_ferc1.csv']))
fuel_data.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

Finding the fuel type that has the lowest mean value

In [4]:
fuel_data.groupby('fuel_type_code_pudl').fuel_cost_per_unit_burned.mean().sort_values()

fuel_type_code_pudl
gas          13.659397
other        18.253856
waste        19.518122
coal         67.421830
oil         168.877086
nuclear    4955.157002
Name: fuel_cost_per_unit_burned, dtype: float64

Finding the standard deviation and 75th percentile of the measure of energy per unit

In [5]:
fuel_data.fuel_mmbtu_per_unit.describe()

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

Finding the kurtosis of the fuel quantity burned column

In [6]:
fuel_data.fuel_qty_burned.kurtosis()

651.3694501337732

Finding the skewness of the fuel quantity burned column

In [7]:
fuel_data.fuel_qty_burned.skew()

15.851495469109503

Finding where empty values are located.

In [8]:
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

Finding the percentage of the missing rows as a factor of the total no of rows

In [9]:
missing_fuel_unit = fuel_data.fuel_unit.isnull().sum()
missing_fuel_unit_percentage = (missing_fuel_unit / fuel_data.shape[0]) * 100
missing_fuel_unit_percentage

0.609694136774718

Finding the correlation between the fuel cost per unit burned column and other specified columns.

In [10]:
fuel_data.loc[:, ['fuel_qty_burned', 'fuel_mmbtu_per_unit', 'fuel_cost_per_unit_delivered', 'report_year', 'utility_id_ferc1']].corrwith(fuel_data.fuel_cost_per_unit_burned)

fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
utility_id_ferc1               -0.037863
dtype: float64

Finding the percentage change in fuel cost of coal per unit burned in 1998 compared to 1994

In [11]:
fuel_coal = fuel_data.groupby(['fuel_type_code_pudl', 'report_year']).sum()
fuel_coal_1994 = fuel_coal.iloc[0,3]
fuel_coal_1998 = fuel_coal.iloc[4,3]
change_in_fuel_cost = fuel_coal_1998 - fuel_coal_1994
percentage_change = (change_in_fuel_cost / fuel_coal_1994) * 100
percentage_change

-20.56765451826049

Finding the year which has the highest mean value of the fuel cost per unit delivered.

In [12]:
fuel_data.groupby('report_year').fuel_cost_per_unit_delivered.mean().sort_values(ascending=False)

report_year
1997    11140.197239
1996     9196.705948
2000      985.362877
2009      652.694163
2018      499.269966
2015      326.535511
1998      287.154420
2014      192.737183
2013      172.307591
2004      139.524275
2016      103.901761
2010       91.862105
1994       63.636060
2012       60.994502
2001       60.050396
2011       59.774667
2008       58.588197
2003       55.663493
2002       47.594361
2017       46.196861
2007       43.325023
2005       41.438184
2006       38.657484
1995       32.735269
1999       25.551627
Name: fuel_cost_per_unit_delivered, dtype: float64